@charset "utf-8";
/*
 * 
 */
@import url(jqueryMobileTheme.css);
@import url(jqueryMobileIcon.css);
@import url(jqueryMobileStructure.css);


html,
body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}